.header {
  color: #fff;
  margin-bottom: 2rem;
}

.updateForm{
  margin-top: 10px;
}
.hidden{
  visibility: hidden;
  height: 0px;
}
.inputeUpdate{
  margin: 5px;
}
.inputeUpdate > * {
  margin-right: 5px ;
}
.updateUserName{
  cursor: pointer;
}
.UpdatingFormButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.UpdatingFormButtons > *{
  width: 150px;
}